* {
  box-sizing: border-box;
}

.container {
  

}

.box1 {
  width: 20%;
  
  
}

.box2 {
  width: 20%;
  
}

.box3 {
  width: 20%;

 
}

.box4 {
  width: 20%;

  
}

.box5 {
  width: 20%;

  
}
button {
  background-color: rgb(129,129,129);
  color: white;
}